<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <h1>User Page</h1>
    
    <div class=" "> 
        {% for i in Product %}
            <p> {{i.name}} | </p>
            <p> {{i.price}} | </p>
            <p> {{i.description}} | </p>
            <p> {{i.types}} </p>

        {% empty %}
        <p>No Products</p>
        {% endfor %}
    </div>
    
</body>
</html>